.col-8 > .two{
    justify-content: center;
}
.formm{
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    background-image: url(./images/tour2.jpg);
    background-size: cover;
    box-shadow: rgba(14, 13, 13, 0.4) -5px 5px, rgba(19, 18, 18, 0.3) -10px 10px, rgba(22, 22, 22, 0.2) -15px 15px, rgba(31, 29, 30, 0.1) -20px 20px, rgba(24, 22, 23, 0.05) -25px 25px;
}


.form >.form-row > .form-group >label{
    color: white;
}
.formm >.form-group >label{
    color: white;
}
.secnav{
    padding-top: 40px;
    position: fixed !important;
    right: 50px;
}
i{
    font-size: 35px;
}

.col{
    padding-top: 100px !important;
}
.cent{
    justify-content: space-evenly;
}