.profbox{
    display: flex;
    height: 100vh;
    margin-bottom: 50px !important;
    border-bottom: 1px black solid;

}
.profirstbox{
    width: 350px;
    border-right: 1px solid rgb(216, 210, 210);
    width: 30vw;

}
h4{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px rgb(216, 210, 210) solid;
}
i{
    font-size: 20px !important;
}
.secprofibox{
    background-color: whitesmoke;
    width: 70vw ;
    height: 100vh;

}

.secprofibox > img{
    width: 150px;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 50%;
}
.formbox{
    margin-top: 50px;
    margin-left: 30px;
}
.inputboxx{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}